name: 'Test Report'
on:
  workflow_run:
    workflows: [ 'CI' ]
    types:
      - completed
jobs:
  report:
    runs-on: ubuntu-latest
    steps:
      - uses: dorny/test-reporter@v1.6.0
        with:
          artifact: '/test-results-(.*)/'
          name: 'Tests $1'
          path: '**/*.xml'
          reporter: java-junit